<div id="container">
    <div id="content">

        <h1>Request <span>New Product</span></h1>
        
        <p>Instant payments, and a lot of withdrawal methods available.</p>
        
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select 
                    name="type" 
                    [(ngModel)]="product.type"
                >
                  <mat-option value="CASH">CASH</mat-option>
                  <mat-option value="CHAR">CHAR</mat-option>
                  <mat-option value="CACC">CACC</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <input 
                    name="name" 
                    matInput 
                    placeholder="Name" 
                    [(ngModel)]="product.name" 
                    type="text|"
                />
            </mat-form-field>   
            
            <mat-form-field appearance="outline">
                <mat-label>Currency</mat-label>
                <mat-select 
                    name="currency" 
                    [(ngModel)]="product.currency"
                >
                  <mat-option value="COP">COP</mat-option>
                  <mat-option value="EUR">EUR</mat-option>
                </mat-select>
            </mat-form-field>
        
            <button 
                mat-flat-button 
                [disabled]="!product.type || !product.name || !product.currency" 
                (click)="register()"
                class="full-width"
            >
                Login
            </button>
        </form>
    </div>
</div>
