@import "./../../../shared/styles/variables";

:host(app-account-register){
    #container{
        background: $primary;
        height: 100vh;
        #content{
            margin: 0 auto;
            padding-top: 20px;
            width: 40%;
            h1{
                color: $third;
                font-size: 14pt;
                font-weight: 700;
                text-align: center;
                span{
                    display: block;
                    font-size: 24pt;
                }
            }
            p{
                color: $third;
                text-align: center;
            }
            form{                
                ::ng-deep {
                    .mat-form-field-appearance-outline .mat-form-field-outline {
                        color: white;
                    }
                    mat-form-field {
                        display: block;
                        .mat-hint, input, ::placeholder, .mat-form-field-label {
                            color: white;
                        }
                        .mat-select-value{
                            color: $third !important;
                        }
                    }
                }
                button{
                    background: $fourth;
                    color: $second;
                    font-size: 14pt;
                    font-weight: 700;
                    width: 100%;
                }
            }
        }
    }
}