@import "./../../styles/variables";

:host(app-card){
    margin-top: 20px;
    width: 100%;
    .card{        
        border-radius: 20px;
        width: 250px;
        margin: 0 auto;
        height: 150px;
        position: relative;        
        .circle{
            width:30px;
            height:30px;
            border-radius:50%;
        }
        .circle-1{
            background:#EC0004;
            left: 20px;
            position:relative;
            top: 30px;
        }
        .circle-2{
            background:#F5A300;
            position:absolute;      
            right:-60%;  
        }
        #number{
            left: 55px;
            position: absolute;
            top: 80px; 
            span{                
                font-family: 'CreditCard';
                font-size: 6pt;
                margin-right: 20px;
            }
        }
        #owner{
            left: 55px;
            position: absolute;
            top: 120px; 
            span{
                font-family: 'CreditCard';
                margin-right: 20px;
                &:first-child{
                    font-size: 9pt;            
                }
                &:nth-child(2){
                    font-size: 6pt;            
                }
            }
        }
    }  
    .card.default{
        background: $second;
        #number span{
            color: #A1CBFF;
        }
        #owner span{
            color: #A1CBFF;
        }
    }
    .card.silver{
        background: #E1E7F5;
        #number span{
            color: #202C42;
        }
        #owner span{
            color: #202C42;
        }
    }
}

mat-progress-bar{
    width: 80%;
    margin: 10px auto 0 auto;
}