<div class="card" [class]="theme">
    <div class="circle circle-1">
        <div class="circle circle-2"></div>
    </div>

    <div id="number">
        <span>....</span>
        <span>....</span>
        <span>....</span>
        <span>{{ lastDigits }}</span>
    </div>

    <div id="owner">
        <span>VICTOR ANDERSON</span>
        <span>11/22</span>
    </div>
</div>

<mat-progress-bar mode="determinate" [value]="amount"></mat-progress-bar>