<div id="container">
    <h1>
        Welcome back
        <span> Login </span>
    </h1>   

    <div id="form">

        <p class="mt-2">
            For your money safety, please delete all extensions for the browser you use to log in your wallet.
        </p>

        <form>
            <mat-form-field class="login-field" appearance="outline">
                <input 
                    name="user" 
                    matInput 
                    placeholder="Login" 
                    [(ngModel)]="authData.username" 
                    type="text"
            />
            </mat-form-field>
            
            <mat-form-field class="login-field" appearance="outline">
                <input 
                    name="password" 
                    matInput 
                    placeholder="Password" 
                    [(ngModel)]="authData.password" 
                    type="password"
                />
            </mat-form-field>            

            <button 
                mat-flat-button 
                color="primary" 
                [disabled]="!authData.username || !authData.password" 
                (click)="login()"
                class="full-width"
            >
                Login
            </button>
        </form>
    </div>
</div>