@import "../../../shared/styles/_variables.scss";
@import "../../../shared/styles/utils.scss";

:host(app-login){
    #container{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
        p{
            color: $second;
            text-align: center;
        }
        h1{
            color: $second;
            font-size: 14pt;
            text-align: center;
            span{
                display: block;
                font-size: 24pt;
                font-weight: 700;
            }
        }
        #form{
            width: 20%;
            .login-field{
                display: block;            
            }       
        }
    }
}