<app-general-information
  [balance]="balance"
>
</app-general-information>

<div id="accounts">
   <app-table
    [data]="accounts"
    [fields]="fields"
    (detail)="detail($event)"
  >     
   </app-table>
</div>

<div id="wallet">
    <mat-grid-list cols="12" rowHeight="230">
        <mat-grid-tile colspan="2"></mat-grid-tile>
        <mat-grid-tile colspan="5">
            <mat-grid-tile-header>
                <h2>Wallet</h2>
            </mat-grid-tile-header>
            <ng-container *ngFor="let card of cards; let i = index">
                <app-card *ngIf="(i+1) %2 > 0; else silverCard" theme="default" [amount]="50" [accountNumber]="card.bban!"></app-card>
                <ng-template #silverCard>
                    <app-card theme="silver" [amount]="50" [accountNumber]="card.bban!"></app-card>
                </ng-template>
            </ng-container>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <mat-grid-tile-header>
                <h2>Your Budgets</h2>
            </mat-grid-tile-header>
            <ngx-charts-pie-chart
                [view]="chart.view"
                [scheme]="chart.colorScheme"
                [results]="chart.budgets"
                [doughnut]="chart.isDoughnut"
                [tooltipDisabled]="chart.tooltipDisabled"
            >
            </ngx-charts-pie-chart>
        </mat-grid-tile>            
    </mat-grid-list>
</div>