@import "./../../../shared/styles/variables";

:host(app-dashboard){   
    
    #accounts{
        margin-top: 30px;        
    }
    
    #wallet{
        margin-top: 20px;
        padding: 0 5px 0 5px;   
        mat-grid-tile-header{
            background: transparent;
            h2{
                color: $second;
                font-size: 16pt;
                font-weight: 700;
                margin-left: 20px;
            }
        }   
    }
}