@import "./../../../shared/styles/variables";

:host(app-table){
    table{
        width: 80%;
        margin: 0 auto;
        th{
            color: $second;
            font-weight: bold;
        }
        mat-icon{
            cursor: pointer
        }
    }
}