<table mat-table [dataSource]="data" class="mat-elevation-z8">
    
    <ng-container *ngFor="let field of fields" [matColumnDef]="field.value">
      <th mat-header-cell *matHeaderCellDef> {{ field.text }} </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="field.value == 'externalId'; else commonrow">
          <mat-icon 
            (click)="getDetail(element.externalId)"
          >
            remove_red_eye  
          </mat-icon>
        </span>
        <ng-template #commonrow>
          {{ element[field.value] }}
        </ng-template>
       </td>      
    </ng-container>      
  
    <tr mat-header-row *matHeaderRowDef="columnV"></tr>
    <tr mat-row *matRowDef="let row; columns: columnV;"></tr>
</table>

<mat-paginator 
  *ngIf="pagination"
  [length]="dataLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="[pageSize]"
  (page)="page($event)"
>
</mat-paginator>