<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer 
      class="sidenav mat-nav" 
      fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="true"      
  >
    <mat-toolbar>
      <img class="img-responsive"  src="assets/images/currency.png" alt="">      
    </mat-toolbar>

    <mat-nav-list>
      <p class="subtitle mt-1"> ACCOUNTS </p>
      <a mat-list-item routerLink="/">Account Summary</a>
      <a mat-list-item >Accounts</a>

      <p class="subtitle mt-2"> SERVICES </p>
      <a mat-list-item routerLink="/register-account">Enroll new account</a>
      <a mat-list-item>Account Statements</a>
      <a mat-list-item>Enroll a Credit Card</a>
      <a mat-list-item>Card Replacement</a>
      <a mat-list-item>New Checkbook</a>

      <a mat-list-item class="float-bottom" (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>      

      <div class="float-right" id="user">
        <img id="profile-image" src="assets/images/profile-image.jpg" alt="">
        <span>Victor</span>
      </div>

    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>