@import "./../../styles/variables";
@import "./../../styles/utils";

:host(app-nav){
  mat-sidenav-container {
    height: 100%;
    .sidenav {
      background-color: $primary;
      width: 200px;
      .mat-toolbar {
        background: inherit;
      }
      .mat-toolbar.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }    
      .mat-nav-list a.mat-list-item {
        color: #FFF;
        font-weight: 300;
      }
      .subtitle{
        color: $fourth;
        padding-left: 16px;
      }
    }
  }

  #user{  
    margin-right: 20px;
    *{
      vertical-align: middle;
    }  
  }

  #profile-image{
    border-radius: 50%;
    height: 30px;
    margin-right: 10px;
    width: 30px;
  }
}