<app-loader></app-loader>

<div *ngIf="isLoggedIn; then logged else noLogged"></div>

<ng-template #logged>
    <app-nav></app-nav>
</ng-template>

<ng-template #noLogged>
    <router-outlet></router-outlet>
</ng-template>