.mt-1{
    margin-top: 1em;
}

.mt-2{
    margin-top: 2em;
}

.img-responsive{
    max-width: 100%;
    max-height: 100%;
}

.float-right{
    position: absolute;
    right: 0;
}

.float-bottom{
    bottom: 0;
    position: absolute; 
}

.disabled{
    opacity: 0.5;
}

.full-width{
    width: 100%;
}