<h1> Transaction Detail </h1>

<form class="example-form">
    <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <mat-label>currency</mat-label>
                <input matInput [value]="transaction.currency">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <mat-label>amount</mat-label>
                <input matInput [value]="transaction.amount">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <mat-label>Creditor</mat-label>
                <input matInput [value]="transaction.creditorName">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="example-full-width">
                <mat-label>Date</mat-label>
                <input matInput [value]="transaction.valueDate">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</form>