@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
@import "./app/shared/styles/variables";
@import '~ngx-toastr/toastr.css';

html, body { 
    height: 100%; 
}

body { 
    margin: 0;     
}

* {
    font-family: 'Open Sans', sans-serif; 
}

@font-face {
    font-family: 'CreditCard';
    src: url(assets/fonts/credit_card.ttf) format('truetype');
}

::placeholder { 
    color: $second;
    opacity: 1; 
}