@import "./../../../shared/styles/variables";

:host(app-account-registered){
    #container{
        background: $primary;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        #content{
            h1{
                color: $third;
                font-size: 14pt;
                font-weight: 700;
                text-align: center;
                span{
                    display: block;
                    font-size: 24pt;
                }
            }
            p{
                color: $third;
                text-align: center;
            }
            button{
                background: $fourth;
                color: $second;
                font-size: 14pt;
                font-weight: 700;
                width: 100%;
            }
        }
    }
}