<div id="container">
    <div id="content">
        <h1>Request <span>New Product</span></h1>
        
        <p>Instant payments, and a lot of withdrawal methods available.</p>

        <button 
            mat-flat-button 
            routerLink="/"
            class="full-width"
        >
            Go Home
        </button>
    </div>
</div>