:host(app-transaction-list){
    #transactions{
        margin-top: 20px;
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            mat-form-field {
                margin-right: 10px;
            }
        }
    }
}