<app-general-information
    [balance]="balance"
>
</app-general-information>

<div id="transactions">
    <form id="filters">
        <mat-form-field appearance="fill">
            <mat-label>From</mat-label>
            <input matInput [matDatepicker]="from" [(ngModel)]="filters.dateFrom" name="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
            <mat-datepicker #from></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>To</mat-label>
            <input matInput [matDatepicker]="to" [(ngModel)]="filters.dateTo" name="dateTo">
            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
            <mat-datepicker #to></mat-datepicker>
        </mat-form-field>

        <button 
            mat-flat-button 
            color="primary"
            (click)="filterTransactions()"
        >
            Login
        </button>
    </form>
    <app-table
        [fields]="fields"
        [data]="transactions"
        [pagination]="true"
        [dataLength]="transactionsLength"
        (detail)="detail($event)"
        (currentPage)="paginate($event)"
    >
    </app-table>
</div>