@import "./../../styles/variables";

:host(app-general-information){
    #summary{
        background: $second;
        color: #FFF;
        mat-icon{
            font-size: 50pt;
        }
        #welcome{
            img{
                border-radius: 40%;
                height: 100px;
                width: 100px;
            }
            div{
                margin-left: 10px;
            }
        }
        #balance{        
            p#value{
                font-size: 16pt;
                font-weight: 700;
            }
        }
        #actions{
            .mat-figure{
                flex-direction: column;
                flex-wrap: wrap;
            }
            button{
                border: 1px solid $fourth;
                border-radius: 10px;
                display: block;
            }
        }
    }
}