<div id="summary">
    <mat-grid-list cols="3" rowHeight="150">
        <mat-grid-tile id="welcome">
            <img src="assets/images/profile-image.jpg" alt="">
            <div>
                <p> Welcolme back, Victor Anderson! </p>
                <p> Your last sign was 01/01/2021 </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile id="balance">
            <div>
                <p>Total Balance</p>
                <p id="value">${{ balance }}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile id="actions">
            <button mat-button routerLink="/register-account">Request new product</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>